body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(56, 56, 106);
}

.container {
  text-align: center;
  margin-top: 40vh;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

button {
  margin: 10px;
  width: 300px;
  height: 100px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: rgb(138, 196, 138);
  border: none;
  color: white;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
}
